<h1>Create an Account</h1>

<div>
  <% if @user.present? && @user.errors.full_messages.any? %>
    <% @user.errors.full_messages.each do |error_message| %>
      <%= error_message %> <br />
    <% end %>
  <% end %>
</div>

<div>
<%= form_for(:session, url: signup_path) do |f| %>
  <div class="form-group">
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>
  
  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div class="form-group">
    <%= f.submit "Create Account", class: "btn btn-primary" %>
  </div>

<% end %>
</div>