<h1>Login</h1>

<div>
<%= form_for(:session, url: login_path) do |f| %>

<div class="form-group">
  <%= f.label :email %>
  <%= f.email_field :email %>
</div>

<div class="form-group">
  <%= f.label :password %>
  <%= f.password_field :password %>
</div>

<div class="form-group">
  <%= f.submit "Login", class: "btn btn-primary"%>
</div>

<% end %>
</div>