<div class="row col-md-8 col-md-offset-2" id="chatroom-title">
  <h1>Chatrooms</h1>
</div>

<div class="row col-md-8 col-md-offset-2" id="chatrooms">

  <% if @chatrooms.any? %>
    <ul>
      <%= render @chatrooms%>
    </ul>
  <%else %>
    <p>Looks like there is nothing here.</p>
  <% end %>

</div>