<div class="row col-md-8 col-md-offset-2">
  <h1>Create a new chatroom</h1>
</div>

<div class="row col-md-8 col-md-offset-2">
    
  <div class="chatroom-form">
      <%= form_for @chatroom do |f| %>

        <div class="form-group">
          <%= f.label :topic %>
          <%= f.text_field :topic, class: "form-control"%>
        </div>

        <div class="form-group">
          <%= f.submit class: "btn btn-primary", id: "create-chatroom" %>
        </div>

      <% end %>
      
  </div>

</div>
