<div class="row col-md-8">
  <h1><%= @chatroom.topic %></h1>
</div>

<div class="row col-md-8">
  <div class="panel panel-default">
    <% if @chatroom.messages.any? %>
      <div class="panel-body" id="messages">
        <span class="nothing-to-see-here">Nothing more above here!</span>
        <%= render partial: 'messages/message', collection: @chatroom.messages%>
      </div>
    <%else%>
      <div class="panel-body hidden" id="messages">
      </div>
    <%end%>
  </div>

</div>

<div class="row col-md-6">
  <%= render partial: 'messages/message_form', locals: {message: @message, chatroom: @chatroom}%>
</div>