<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<% if current_user.present? && current_user.id == @user.id %>
  <p>Hey, thats you!</p>
<% end %>

<p>
  <strong>Joined:</strong>
  <%= @user.created_at %>
</p>