// Place all the styles related to the chatrooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#hidden {
  display: none;
}

#chatrooms ul li {
  display: inline;

  &:after {
    content: " | ";
    padding-right: 5px;
    padding-left: 5px;
  }

  &:last-child:after {
    content: none;
    padding-right: 0;
  }

}

.nothing-to-see-here {
  color: #ccc;
  text-align: center;
  display: block;
}