// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.panel {
  width: 100%;
}

#messages {
  height: 100%;
  max-height: 400px;
  overflow-y: scroll;
  background-color: #eeeeee;
  padding: 20px;
}

body {
  height: 100vh;
}