<!DOCTYPE html>
<html>
  <head>
    <title>Simple Text Chat</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    
    <nav class="navbar navbar-dark navbar-expand-lg bg-dark navbar-toggleable-md">
      <a class="navbar-brand" href="/">Simple Text Chat</a>

      <div class="navbar-nav mr-auto">
      
      <%= link_to "All Chatrooms", chatrooms_path, class: "nav-item nav-link"  %>
      <%= link_to "New Chatroom", new_chatroom_path, class: "nav-item nav-link"  %>

      </div>

      <div class="navbar-nav mr-right">
        <% if logged_in? %>
          <span class="navbar-text">
            Logged in as: <span class="username"><%= link_to current_user.username, u_path(current_user.username) %></span>
          </span>
          <%= link_to "Logout", logout_path, method: :delete, class: "nav-item nav-link"  %>
        <% else %>
          <%= link_to "Login", login_path, class: "nav-item nav-link"  %>
          <%= link_to "Signup", signup_path, class: "nav-item nav-link"  %>
        <% end %>

      </div>
      
    
    </nav>

  </header>

  <body>
    <div class="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: name %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
